<div class="container">
    <div class="row ">
        <div class="col-md-12">
            <div class="forms">
                <%= render 'form', action: 'zone' %>
                <%= render 'form', action: 'restaurant' %>
                <%= render 'form', action: 'specialty' %>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">            
            <div class="restaurants">
                <% @locals.each do |local| %>
                <div class="col-sm-6 col-md-4">
                    <div class="thumbnail">
                        <img src="<%= local.restaurant.img_url %>" alt="...">
                        <div class="caption">
                            <h4><%= local.restaurant.name %></h4>
                            <h5><%= "Especialidad: #{local.restaurant.specialty}" %></h5>
                            <h5><%= "Teléfono: #{local.phone}" %></h5>
                            <h5><%= "Direccíon: #{local.address}" %></h5>
                            <h5><%= "Horario: #{local.schedule}" %></h5>
                        </div>
                    </div>
                </div>
                <% end %>
            </div>
        </div>
    </div>
</div>
